<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <runtime>
     <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
       <dependentAssembly>
         <assemblyIdentity name="TEC.BCP.Windows.Components.BCPControl" publicKeyToken="a02f53042e733813" culture="neutral" />
         <bindingRedirect oldVersion="1.1.3.0" newVersion="2.0.0.16" />
       </dependentAssembly>
     </assemblyBinding>
   </runtime>
</configuration>
