<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NewManufactPrinting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <NewManufactPrinting.Properties.Settings>
            <setting name="AssemblyVersion" serializeAs="String">
                <value>1.0.0.0</value>
            </setting>
            <setting name="BarcodeCOM" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="LabelPrinterCOM" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="IpAddress" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="CableDataCsvPath" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="ProductSetListCsvPath" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="ServerUrl" serializeAs="String">
                <value>NONE</value>
            </setting>
        </NewManufactPrinting.Properties.Settings>
    </userSettings>
</configuration>